@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxygen:wght@300;400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #201b62;
}

header {
    border: 2px solid #191919;
    border-radius: 5px;
    margin: 0.2rem;
    background-image: url(images/imagefundo.png);
}


main {
    border:2px solid #191919;
    border-radius: 5px;
    margin: 0.2rem;
    margin-bottom: -15px;
    display: flex;
    background-image: url(images/imagefundo.png);
    background-repeat: no-repeat;
     background-size: cover;
}


h1{
    padding: 0.1rem;
    margin-left: 0.1rem;
    color: #d3d3d3;
    font-family: "Playfair Display", serif;
}

h2 {
    padding-left: 2rem;
    padding-top: 0.3rem;
}

a {
    color:#7b337e;
    padding: 0.1rem;

}

.foto-sobremim {
    flex: 1;
    width: 315px;
    height: auto;
    border-radius: 15px;
    padding-top: 5px;
    padding-left: 5px;
}


.cabecalho{
    padding:0.1rem;
    margin-left: 0.1rem;
    color: #d3d3d3;
}

.descrição {
    flex: 2;
    align-items: center;
    padding: 0.2rem;
    color: #d3d3d3;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.sobre-mim {
    padding: 0.5rem;
    padding-left: 2rem;
    padding-bottom: 1.5rem;
}

@media screen and (max-width: 600px) {

    header{
        text-align: center;
    }
    main {
        flex-direction: column;
        align-items: center;
    }

    .minha-foto {
        width: 100%;
        height: auto;
    }

    h1,h2 {
        font-size: 2em;
    }
    
    .descrição {
        padding: 10px;
    }
}